.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  background-color: white;
  margin: 15px;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  min-width: 130px;
  height: 200px;
  color: white;
  text-shadow: 3px 3px black;
  font-weight: bold;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.info p {
  margin: 0;
}

.info p:nth-child(2) {
  margin: 0;
  color: #8d8c8c;
}

.info p:nth-child(3) {
  margin: 0;
  font-size: 14px;
  color: #8d8c8c;
}

strong {
  font-size: 18px;
  color: #1a0e49;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 60%;
    margin: 50px auto;
    padding: 50px;
  }

  .photo {
    font-size: 36px;
    height: 250px;
    color: white;
    text-shadow: 3px 3px black;
    font-weight: bold;
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
