.container {
  margin-top: 80px;
}

.login {
  width: 80%;
  margin: auto;
  text-align: center;
}

h2 {
  font-weight: bold;
  color: #383743;
  font-family: Roboto;
  letter-spacing: -1.2px;
}

h3 {
  font-family: Roboto;
  letter-spacing: 0.2px;
  line-height: 1.48;
  font-weight: normal;
}

.errorText {
  color: #ff0f44;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.95;
  letter-spacing: -0.17px;
}

@media only screen and (min-width: 768px) {
  .login {
    width: 25%;
  }
}
